html, body {
  font-family: Arial, sans-serif;
  height: 100%;
}

nav {
  background-color: #6699ff;
  margin: 20px;
}

nav p {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin: 10px 0;
  padding: 15px;
  color: white;
}

nav p a {
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

nav p a:link{
  color: white;
}

nav p a:visited{
  color: white;
}

nav p a:hover {
  background-color: #6666ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
