body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

nav p a {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #0000cc;
  transition: background-color 0.3s, box-shadow 0.3s;
}

nav p a:hover {
  background-color: #6666ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h1 {
  
}

