{% extends "base.html" %}

{% block head %}
{% endblock %}


{% block body %}
<h1>{{element}}</h1>
{% autoescape false %}
<p>{{"<br />".join(desc.split("\n"))}}</p>
<div class="information">
  <img src="static/ampoule.png" class="sachiez" />
  <p class="info-titre">Le sachiez-vous ?</p>
</div>
<p>{{"<br />".join(info.split("\n"))}}</p>
<form>
  <input type="button" value="Tout va bien" class="on"/>
</form>
<p class="consequences">{{alright}}</p>
<script>
  var btn = document.querySelector("input");
  var txt = document.querySelector(".consequences");
  
  btn.addEventListener("click", updateBtn);
  
  function updateBtn() {
    if (btn.value === "Tout va bien") {
      btn.value = "Tout va mal";
      txt.textContent = "{{albad}}";
      btn.classList.replace('on', 'off');
    } else {
      btn.value = "Tout va bien";
      txt.textContent = "{{alright}}";
      btn.classList.replace('off', 'on');
    }
  }
</script> 
{% endautoescape %}
{% endblock %}
