<header class="entete">
  <nav class="barrenav">
    <a class="nav-link" href="index.html">Corps entier</a> 
    <select class="nav-link" name="partie_corps" id="body_select" onchange="navigateToPage()">
      <option value="">-- Sélectionnez une partie --</option>
      <option value="/">Corps</option>
      <option value="/poumons.html">Poumons</option>
      <option value="/cœur.html">Cœur</option>
    </select>
    <a class="nav-link" href="podcast.html">Podcast</a>
    <a class="nav-link" href="about.html">About us</a>
  </nav>
</header>
<script>
  function navigateToPage() {
    const select = document.getElementById("body_select");
    const selectedValue = select.value;
    if (selectedValue) {
      window.location.href = selectedValue; // Redirige vers la page choisie
    }
  }
</script>
