{% extends "base.html" %}

{% block head %}
<script src="static/scriptSelection.js"> </script>
{% endblock %}


{% block body %}
<h1>Corps humain</h1>
<p>Le corps humain est complexe. Il contient de nombreuses bactéries et de cellules en plus d'organes qui ont chacun un fonctionnement propre. Le corps entier est alimenté par des fluides, tels que l'eau et le sang, effectuant un cycle. Ce mécanisme se retrouve dans tous les espèces vivants de la Terre et particulièrement celui de l'océan. L'océan est un ecosystème géant regroupant faune, flore, minéraux, fonge et bien d'autres. A la manière d'un très grand corps humain il possède des organes vitaux permettant le développement et le maintien de la vie.</p>
{% for element in collection %}
  <a href= "{{ url_for('corps', partie = element)[1:] }}"><img src="static/corps/{{element.lower()}}.webp" class="image-corps {{element.lower()}}"/> </a>
{% endfor %}
<ul>
  {% for element in collection %}
    <a href= "{{ url_for('corps', partie = element)[1:] }}"><p class="{{element.lower()}} bouton-organe" onmouseenter="animSelectionEntreeSouris(event)" onmouseleave="animSelectionSortieSouris(event)">{{element}}</p></a>
  {% endfor %}
</ul>

{% endblock %}