{% extends "base.html" %}

{% block head %}
{% endblock %}


{% block body %}
<h1>Corps humain</h1>
<p>Voici le corps humain. Sur ce site vous pourrez voir chépakoi les océans. Survolez les parties du coprps pour voir les aperçus, ou cliquez pour aller sur une page contenant plus d'infos</p>
{% for element in collection %}
  <a href= "{{ url_for('corps', partie = element)[1:] }}"><img src="static/corps/{{element.lower()}}.webp" id="{{element.lower()}}" class="image-corps"/> </a>
{% endfor %}

<!-- <a href= "../app/build/oreilles.html"><img src="../images/oreilles.webp" id="oreilles"/> </a>
<a href= "../app/build/cerveau.html"><img src="../images/cerveau.webp" id="cerveau"/> </a>
<a href= "../app/build/cœur.html"><img src="../images/coeur.webp" id="coeur"/> </a>
<a href= "../app/build/estomac.html"><img src="../images/estomac.webp" id="estomac"/> </a>
<a href= "../app/build/intestins.html"><img src="../images/intestins.webp" id="intestins"/> </a>
<a href= "../app/build/peau.html"><img src="../images/corps.webp" id="peau"/> </a>
<a href= "../app/build/poumons.html"><img src="../images/poumons.webp" id="poumons"/> </a>
<a href= "../app/build/reins.html"><img src="../images/reins.webp" id="reins"/> </a>
<a href= "../app/build/squelette.html"><img src="../images/os.webp" id="os"/> </a>
<a href= "../app/build/système immunitaire.html"><img src="../images/SU.webp" id="SU"/> </a>
<a href= "../app/build/veines.html"><img src="../images/veines.webp" id="veines"/> </a> -->
{% endblock %}