{% extends "base.html" %}

{% block head %}
{% endblock %}


{% block body %}
<h1>Corps humain</h1>
<p>Voici le corps humain. Sur ce site vous pourrez voir chépakoi les océans. Survolez les parties du coprps pour voir les aperçus, ou cliquez pour aller sur une page contenant plus d'infos</p>
{% for element in collection %}
  <a href= "{{ url_for('corps', partie = element)[1:] }}"><img src="static/corps/{{element.lower()}}.webp" class="image-corps {{element.lower()}}"/> </a>
{% endfor %}
<ul>
  {% for element in collection %}
    <a href= "{{ url_for('corps', partie = element)[1:] }}"><p class="{{element.lower()}}">{{element}}</p></a>
  {% endfor %}
</ul>

{% endblock %}